{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'fanat_t/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'fanat\images\main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<ul>
		<li><a href = "{% url 'home'%}">Главная страница</a></li>
		<li><a href = "{% url 'about'%}">О клубе</a></li>
		<li><a href = "{% url 'coach'%}">Тренера</a></li>
		<li><a href = "{% url 'schedule'%}">Расписание</a></li>
		<li><a href = "{% url 'price'%}">Цены</a></li>
		<li><a href = "{% url 'login'%}">Вход</a></li>
	</ul>

<h1>{{title}}</h1>

<!-- Блок контента -->
	
{% block content %}

{% endblock %}
	
<!-- Конец блока контента -->


<!-- Footer -->

<!-- Конец footer'а и страницы -->
</body>
</html>
