*,
*::before, 
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	font-family: 'Arial';
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: black;
}

/*Шапка сайта*/
.header{
	position: relative;
	max-width: 1300px;
	margin: 0 auto;
	height: 80px;
	width: 100%;
	border: 1px solid black;
}

ul .header{
	display: flex;
}

ul li{
	display: inline-flex;
	margin: 30px 10px 10px 50px;
	list-style: none;
	/* border: 1px solid rgb(17, 167, 79); */
}

ul li.last{
	float: right;
	
}




/*Основной контент*/



/*О клубе*/
/*Тренера*/
/*Расписание*/
/*Цены*/
/*Магазин*/
/*Вход*/